
@tailwind base; /* css-lint-disable-line */
@tailwind components; /* css-lint-disable-line */
@tailwind utilities;  /* css-lint-disable-line */

/*
*  html5resetcss
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

.react-calendar{
    width: 100% !important;
    border: none !important;
    font-family: "Inter", sans-serif !important;

}

.react-calendar__tile--active{
    background-color: #c3ebfa !important;
    color: #000 !important;
}
.react-calendar .react-calendar__navigation__label__labelText{
    font-weight: 600 !important;
}
.react-calendar .react-calendar__month-view__weekdays__weekday abbr{
    border-bottom: none;
}



/* big calendar */
.rbc-btn-group:first-child{
    display: none !important;
    padding: 0 20px !important;
}

.rbc-btn-group:last-child{
    font-size: 13px;
}

.rbc-btn-group:last-child button{
    border: none !important;
    background-color: #f1f0ff !important;
    margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active{
    background-color: #dbdafe !important;
    box-shadow: none !important;
}

.rbc-time-view{
    background-color: #eee !important;
}
.rbc-toolbar-label{
    text-align: right !important;
    font-weight: 600;
    margin-right: 10px;
}

.rbc-time-header{
    display: none !important;
}

.rbc-time-content{
    border: none !important;
}

.rbc-time-gutter.rbc-time-column {
    font-size: 12px !important;
}

.rbc-time-column .rbc-timeslot-group{
    padding: 0 20px !important;
    padding-top: 5px !important;
}
.rbc-timeslot-group{
    background: #f7fdff;
}

.rbc-day-slot{
    font-size: 14px !important;
}

.rbc-event {
    border: none !important;
    color: #000 !important;
    padding: 10px !important;
    margin: 10px !important;
    width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label{
    color: gray !important;
    margin-bottom: 5px !important;
}

.rbc-label{
    /* padding-top: 5px !important */
}